body{
    background-color: beige;
    text-align: center;
}

.container{
   border-radius: 15px;
   box-shadow:0 0 20px black;
   padding: 10px 20px;
   transition:transform 0.2s;
   width:500px;
   text-align: center;
   margin: auto;
   margin-top: 20px; 
}

h1{
    font-size:xx-large;
    text-align: center;
    color: rgb(34, 17, 115);
}
label{
    font-size: 15px;
    display: block;
    width:100%;
    margin-top: 8px;
    margin-bottom: 5px;
    text-align: left;
    color: rgb(60, 52, 82);
    font-weight: bold;
}
input{
    display:block;
    width:100%;
    padding: 8px;
    border-radius:3px;
    font-size: 12px;

}

input[type="radio"]{
    display:inline;
    width:10%;

}

select{
    display:block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    box-sizing:border-box;
    border:1px solid rgb(53, 42, 99);
    border-radius: 5px;

}
textarea{
    resize:none;
    width:100%;
    min-height: 100px;
    max-height: 150px;
    border-color: rgb(47, 37, 69);
}

button{
    padding:10px 15px;
    border-radius: 6px;
    margin: 15px;
    border: none;
    color: #f5f5dc;
    cursor:pointer;
    background-color: rgb(47, 47, 80);
    width: 40%;
    font-size: 16px;
}

button:hover{
    background-color: rgb(46, 34, 114);
}

